<body>
    
    <section>
        <div class="container loginForm">
            <div class="user signinBx">
                <div class="imgBx"><img src="/images/login.png" alt="" /></div>
                <div class="formBx">
                    <form id="loginForm">
                        <h2>Sign In</h2>
                        <input type="text" name="username" placeholder="Username" />
                        <input type="password" name="password" placeholder="Password" />
                        <input type="submit" name="" value="Login" />
                        <a href="javascript:void(0">Forgot password ?</a>
                        <p class="signup">
                            Don't have an account ?
                            <a href="#" onclick="toggleForm();">Sign Up.</a>
                        </p>
                    </form>
                </div>
            </div>
            
            <div class="user signupBx">
                <div class="formBx">
                    
                    <form id="registerForm">
                        <span class="alert alert-danger error-message" id="error-message"></span>
                        <span class="alert alert-success success-message" id="success-message"></span>
                        <h2>Create an account</h2>
                        <input type="text" name="username" placeholder="Username" />
                        <input type="email" name="email" placeholder="Email Address" />
                        <input type="password" name="password" placeholder="Create Password" />
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                        <input type="submit" name="" value="Sign Up" />
                        <p class="signup">
                            Already have an account ?
                            <a href="javascript:void(0)" onclick="toggleForm();">Sign in.</a>
                        </p>
                    </form>
                </div>
                <div class="imgBx"><img src="/images/login.png" alt="" /></div>
            </div>
        </div>
    </section>
</body>
<script src="/javascripts/auth.js"></script>