





<!-- main content -->
<div class="section-main">
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <a href="/">Home</a>

      

      </div>
      <div class="col-xs-12 col-md-6">
        <form action="" method="GET" class="form-main  form-inline nofloat-xs pull-right pull-left-sm">

          <div class="form-group form-input-fields form-group-lg has-feedback">

            <label class="sr-only" for="search">Search</label>
            <div class="input-group">
              <input type="text" class="form-control input-search" name="q" id="search" placeholder="Search">
              <span class="input-group-addon group-icon"> <span class="glyphicon glyphicon-user"></span>
              </span>
            </div>

            <button type="submit" class="btn btn-lg btn-success btn-submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search 
            </button>


          </div>


        </form>
      </div>

      <div class="col-xs-12 col-md-4">
           <div class="header-profile"><a class="hader-profile-links ripple-grow" href="javascript://">
              
              {{#if isLoggedIn}}
              <a class="btn btn-primary" href="/question/add">Ask Questions</a>
              <a class="btn btn-primary" href="/profile">Profile</a>
              <a class="btn btn-primary" href="/logout">Logout</a>
              {{else}}
              <a class="btn btn-primary" href="/login">Login</a>
              {{/if}}
          </div>
      </div>
    </div>


    <!--rest of page content -->

  </div>
</div>