


ul
{
list-style-type: none;
}

#container {

  margin:3px auto;
  
}
.videobox {
  background:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  width:320px;
  height:240px;
  float:left;
  padding:14px;
  margin-right:20px;
  margin-bottom:20px;
}
.item:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,.3);  
}


