<div id="container" class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
    <div class="list-group list-group-flush" ng-controller="homeController">
        {{#each questions}}

        <a href="/questions/{{question_id}}" class="list-group-item">

            <div class="row">
                <div class="col-sm-1">
                    <h1><i class="fas fa-vote-yea"></i>

                    </h1>
                    <h5>Votes {{follow_count}}</h5>

                </div>
                <div class="col-sm-9">
                    <h4 class="list-group-item-heading">{{questions_title}}</h4>
                    <p class="list-group-item-text">
                        {{questions_description}}
                    </p>

                    <p class="list-group-item-text">
                        <span class="badge">{{questions_tag}}</span>
                    </p>
                </div>


                <div class="col-sm-2">

                    <div class="badge badge-secondary">
                        <i class="fa fa-reply" aria-hidden="true"></i> {{answer_count}}
                    </div>
                    <div class="badge badge-secondary">
                        <i class="fas fa-video"></i> {{video_count}}
                    </div>


                </div>


            </div>

        </a>
        {{/each}}

    </div>
</div>