<div class="container bootstrap snippets bootdey" ng-controller="profileController">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        {{!-- <div class="text-center">
          <img ng-src="user.profile_image" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control">
        </div> --}}

        <div class="form-group">
          <span><img ng-src="\{{user.profile_image}}" class="img-thumbnail" alt="Cinque Terre">
          <label>File Upload</label>
          <input type="file" ng-model="user.profileImage"  custom-on-change="selectImage">
           <button type="submit" class="btn btn-primary" ng-click="onUploadSelect()">Save</button>
      </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" ng-submit="updateResult()">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="user.first_name" ng-value="user.first_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="user.last_name" ng-value="user.last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Username:</label>
            <div class="col-lg-8">
              <strong ng-bind="user.username"></strong>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-value="user.email">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
  </div>
</div>

<script src="/javascripts/profile.js"></script>
<hr>