<div class="container" ng-controller="questionPostController">
    <form ng-submit="postQuestion()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Question Heading</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Question Heading" name="title" ng-model="title">
  </div>
  
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Question Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" ng-model="description"></textarea>
  </div>

  {{!-- <div class="form-group">
      <math-field id="formula" virtual-keyboard-mode=manual>
        x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}
      </math-field>
  </div> --}}


  <div class="form-group">
    <label for="exampleFormControlSelect1">Question Tag</label>
    <select class="form-control" id="exampleFormControlSelect1" name="tags" ng-model="tags">
      
      <option value="React">React</option>
      <option value="Node.js">Node.js</option>
      <option value="Vue.js">Vue.js</option>
      <option value="Angular">Angular</option>
      <option value="Express">Express</option>
      <option value=" Next.js"> Next.js</option>
      <option value="Meteor">Meteor</option>
      <option value="Svelte">Svelte</option>
      <option value="Koa">Koa</option>
      <option value="Ember.js">Ember.js</option>
    </select>
  </div>


  {{!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Question Tag</label>
    <select class="form-control" id="exampleFormControlSelect1" name="tags" ng-model="tags">
      tion value="Foundations of mathematics.">Foundations of mathematics.</option>
      <option value="Foundations of mathematics.">Foundations of mathematics.</option>
      <option value="Analysis">Analysis</option>
      <option value="Algebra" selected>Algebra</option>
      <option value="Number theory">Number theory.</option>
      <option value="Combinatorics">Combinatorics</option>
      <option value="Geometry">Geometry</option>
      <option value="Topology">Topology</option>
      <option value="Probability and statistics">Probability and statistics</option>
      <option value="Computational mathematics">Computational mathematics</option>
      <option value="Mathematical physics">Mathematical physics</option>
      <option value="Other applied mathematics">Other applied mathematics</option>
      <option value="Other">Other</option>
    </select>
  </div> --}}



  <div class="form-group">
      <button class="btn btn-primary">Post Questions</button>
  </div>
</form>
</div>
<script src="/javascripts/question.js"></script>
<script src="/javascripts/math.js"></script>



