<script src="/javascripts/math.js"></script>
<div id="container" class="container" ng-controller="answerController">
    <div vlass="container-fluid">
        <div class="row ">
            <div class="">
                <div href="/questions/{{question_id}}" class="">
                    <div class="row">
                        <div class="col-sm-1">
                            <a href="javascript:void(0)" ng-if="!isFollowing" ng-click="followQuestion()">
                                <h1><i class="fas fa-vote-yea"></i>

                                </h1>
                            </a>

                            <a href="javascript:void(0)" ng-if="isFollowing" ng-click="unFollowQuestion()">
                                <h1><i class="fas fa-vote-nay"></i>

                                </h1>
                            </a>

                            <h5>Votes <small ng-bind="question.follow_count"></small></h5>

                        </div>

                        <div class="col-sm-9">

                            <h2 ng-bind="question.questions_title"></h2>
                            <p class="list-group-item-text" ng-bind="question.questions_description">

                            </p>

                            {{!-- <math-field ng-bind="question.math_data" readonly></math-field> --}}

                            <p class="list-group-item-text">
                                <span class="badge" ng-bind="question.questions_tag"></span>
                            </p>
                        </div>
                        <div class="col-sm-2">

                            <div class="badge badge-secondary">
                                <i class="fa fa-reply" aria-hidden="true"></i> <small
                                    ng-bind="question.answer_count"></small>
                            </div>
                            <div class="badge badge-secondary">
                                <i class="fas fa-video"></i> <small ng-bind="question.video_count"></small>
                            </div>


                        </div>

                    </div>
                </div>






            </div>

        </div>





        {{!-- Answer Start From Here --}}
        <div class="row">
            <nav aria-label="Page navigation example" ng-if="answers.length > 0">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>



            <div class="row list-group-item" ng-repeat="answer in answers">

                <div class="row">
                    <div class="col-sm-1">
                        <h3 ng-if="answer.status !== 'accepted'" ng-click="markCorrect(answer.answer_id)">
                            <i class="fas fa-vote-yea"></i>

                        </h3>

                        <h3 ng-click="markIncorrect(answer.answer_id)" ng-if="answer.status === 'accepted'"><i
                                class="fas fa-vote-nay"></i>

                        </h3>
                        <h5 ng-bind="'Correct '+answer.follow_count"></h5>

                    </div>
                    <div class="col-sm-9">
                        <p class="list-group-item-text" ng-bind-html="answer.answer_description">
                        </p>

                        <p class="list-group-item-text">
                            <span class="badge">{{questions_tag}}</span>
                        </p>
                    </div>


                    <div class="col-sm-2">
                        <img ng-src="\{{answer.profile_image}}" class="img-circle" alt="Cinque Terre" height="20" width="20">
                        <a href="javascript:void(0)"><small ng-bind="answer.email"></small></a>


                    </div>


                </div>

            </div>


















          {{#if isLoggedIn}}

            <form name="formGroup" class="form-group">
                <div class="list-group-item" id="answerPanel">
                    <div class="list-group">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" class="btn btn-primary" ng-click="submitAnswer()">Post
                                    Answer</a>

                                <a href="javascript:void(0)" class="btn btn-primary" data-target="#myModal"
                                    data-toggle="modal">
                                    Upload Videos</a>

                                <a href="javascript:void(0)" class="btn btn-primary" ng-click="openCodeEditor()">
                                    Open Code</a><br />
                            </div>

                        </div>
                    </div>
                    <!--  Video Upload Modal   -->


                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" ng-bind="question.questions_title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <span class="control-fileupload">
                                                <label for="file1" class="text-left">Click here to upload supporting videos</label>
                                                <input type="file" id="videoUpload" file-model="supportingVideo">
                                            </span>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <video width="430" height="240" controls>
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="uploadVideo()">
                                                <i class="icon-upload icon-white"></i> Upload
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                  
                    <div class="list-group-item">
                        <div id="editor"></div>
                    </div>
                    
                </div>
            </form>

            {{/if}}
        </div>
    </div>
</div>
<script src="/javascripts/editor.js"></script>
<script src="/javascripts/answer.js"></script>